*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body,
html,
#map {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

/* responsive container */
#map {
  width: 100%;
  height: 100%;
}

ul {
  padding-left: 20px; 
}

/* media query for popup content seizing */
@media (max-width: 600px) {
  img {
    width: 100%;
    height: auto;
  }
  video {
    width: 100%;
    height: auto;
  }
}

/* disable video display for popup video on mobile devices */
@media (max-width: 600px) {
  video {
      width: 100%;
      height: auto;
  }
  .no-display-on-mobile {
      display: none;
  }
}